/************************/
/*                      */
/*  CSS for Index.html  */ 
/*                      */
/************************/


/* TODO: USE LESS TO LIMIT MAGIC CONSTANTS FOR COLORS */

/* Magic value that Bootstrap tells us to include because we're using a fixed navbar. */
body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;

}

hr {
  width: 20%;
  align: center;
   /* Set the hr color */
  height: 1px;
  color: #000; /* old IE */
  background-color: #000; /* Modern Browsers */
}

/* This automatically makes images expand to be the same size of their containing div. */
img {
    max-width: 100%;
}


/* Add this class so that linking to a div within a page works without
content hiding under the fixed navbar */
.content {
  padding-top: 55px;
}

/*  NAVBAR STUFF */
.navbar-brand {
  padding: 3px 3px;
  max-height: 44px
}

/* 
 * Optimir Navbar: Make the navbar have a non-transparent background and
 *  remove the background image, which is a gradient.
 */
.optimir-navbar {
  background-color: #FFF;
  background-image: none;
}

/* Give the links a good color and font family. */
.optimir-navbar a {
  font-family: 'Open Sans', sans-serif;
  color: #5A5A5A;
}

/* END NAVBAR STUFF */


/* Start landing image */
.landing-image {
  position: relative; 
  max-height: 500px;
  overflow: hidden;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;

}

.landing-image img {
  position: relative; 
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;

}



.landing-image #overlay { 
  position: absolute; 
  padding-left: 30px;
  padding-bottom: 10px;
  bottom: 0px;
  max-width: 500px;
  left: 0; 
  width: 100%; 
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing-image #overlay button{ 
  color: #000;
}

/* Center text if we're on a mobile phone. */
@media screen and (max-device-width: >760px) {
  .landing-image #overlay { 
    color: red;
  }
}


/* MEMBER GALLERY STUFF */

.image-shade {
  height: 250px;
  width: 250px;
  margin: 10px;
  margin-bottom: 20px;
  float: left;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.image-shade img {
  margin-left: 8px;
  width: 100%;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.overlay {  
  font-size:20px; 
  font-weight:700;
    text-align:center;
    opacity:0;
    -webkit-transition: opacity .1s ease;
  -moz-transition: opacity .1s ease;
}
.image-shade:hover .overlay {
    opacity: 1;
}
.image-shade:hover {
  opacity: .7;
  font-size: 20px;
  font-weight: 700px;
  box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}

/* END MEMBER GALLERY STUFF */


/* Footer */
#contact {
  background-color: #eee;
  margin-top: 30px;
}